@use "components";


.container-body {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-family: components.$playfire;
    font-weight: 700;
    font-size: 48px;
    margin: 12px 0 12px 0;
}

.container-desc-recipe {
    display: flex;
    gap: 10px;
    .description-recipe {
        font-family: components.$montserrat;
        font-weight: 500;
        font-style: italic;
        font-size: 14px;
        line-height: 17px;
        width: 55%;
    }
}

.container-instructions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .instructions {
        width: 55%;
        h2 {
            font-family: components.$playfire;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            margin: 0 0 40px 0;
        }
        h3 {
            font-family: components.$playfire;
            font-weight: 400;
            font-style: italic;
            margin: 0 0 40px 0;
        }
        .grid-ingredients {
            display: grid;
            grid-template-columns: 5% 90%;
            column-gap: 5px;
            row-gap: 10px;
            margin: 0 0 40px 0;
            
        }
        .instruction-step {
            font-family: components.$montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
        }
        .grid-instructions {
            display: grid;
            grid-template-columns: 7% 90%;
            column-gap: 5px;
            row-gap: 10px;
            margin: 0 0 40px 0;
        }       
    }
}

.reference {
    font-family: components.$montserrat;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #bdbdbd;
}

.footer {
    font-family: components.$montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    padding: 20px;
}

@media (max-width: 768px) {
        
    .container-body {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    h1 {
        font-size: 24px;
        margin: 24px 0 12px 0;
    }
    .container-desc-recipe {
        .description-recipe {
            font-size: 12px;
            line-height: 17px;
            width: 90%;
        }
    }
    .container-instructions {
        display: inline;
        .instructions {
            width: 100%;
            h2 {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;

            }
            h3 {
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;

            }
            .grid-ingredients {
                display: grid;
                grid-template-columns: 5% 90%;
                column-gap: 10px;
                row-gap: 5px;
                margin: 0 0 40px 0;
                
            }
            .instruction-step {
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
            }
            .grid-instructions {
                display: grid;
                grid-template-columns: 7% 90%;
                column-gap: 18px;
                row-gap: 10px;
                margin: 0 0 40px 0;
            }       
        }
    }
    .reference {
        font-size: 12px;
    }
        
}